.home {
    width: 100% ;
    height: 1022px;
    background-color: #EDE2DA;
}

.myPhoto{
    width: 337px;
    height: auto;
}

.photoBox{
    margin-right: 10%;
}

.textBox{
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textBox p{
    font-size: 3em ;
}

.fotoAndName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 11.5%;
    padding-bottom: 3%;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-left: 25%;
}
