* {
    color: #393941;
}
.home {
    width: 100%;
    height: auto;
    background-color: #EDE2DA;
    padding-bottom: 4%;
}

.myPhoto{
    width: 337px;
    height: auto;
}

.photoBox{
    margin-right: 10%;
}

.fotoNameButtons{
    display: flex;
    margin-left: 20%;
}

.buttonsText{
    display: flex;
    flex-direction: column;
}
.buttons-home-box {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 1%;
}

.buttons-home{
    width: 155px;
    height: 36px;
    line-height: 36px;
    border-radius: 12px;
    background-color: #F6BDB4 ;
    border: none;
    text-align: center;
    text-decoration: none;
}

.textBox{
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em ;
    margin-top: 15%;
}

.fotoAndName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    
}

.presentation-text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #393941;
}
