* {
    color: #393941;
}
.home {
    width: 100%;
    height: auto;
    background-color: #EDE2DA;
    padding-bottom: 4%;
}

.myPhoto{
    width: 337px;
    height: auto;
}

.photoBox{
    margin-right: 12%;
}

.fotoNameButtons{
    display: flex;
    margin-left: 20%;
    padding-top: 1%;
}

.buttonsText{
    display: flex;
    flex-direction: column;
}
.buttons-home-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

.buttons-home{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background-color: #90967C ;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #3A3A41;
}

.textBox{
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em ;
    margin-top: 10%;
}

.fotoAndName{
    display: flex;
    flex-direction: row;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    
}

.presentation-text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #393941;
}
