.navbar{
    width: 100%;
    height: 15%;
    background-color: #EDE2DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 2.5%;
}

.description-text{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.3em;
    color: #90967C
}


.image-icon-navbar{
    width: 35px;
    height: auto;
}

.buttons-navbar-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1%;
}

.buttons-navbar{
    width: 155px;
    height: 36px;
    line-height: 36px;
    border-radius: 12px;
    background-color: #F6BDB4 ;
    border: none;
    text-align: center;
    text-decoration: none;
}

.description-text-box {
    padding-right: 40%;
    padding-left: 5%;
}

.icon-home {
    padding-right: 1%;
}


